* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
  }
  @import "./library";
  @import "./player";
  @import "./song";
  @import "./nav";
  h1,
  h2,
  h3 {
    color: rgb(54, 54, 54);
  }
  h3,
  h4 {
    font-weight: 600;
  }
  button {
    font-weight: 700;
  }
  