  /* 로그인 */
  .LoginApp {
    display: flex;
    flex-direction: column; /*아이템 정렬 방향 변경*/
    align-items: center; /*아이템 정렬 방향 가운데 변경*/
    padding: 100px;
  }
  
  .LoginApp label {
    font-weight: bold;
    margin: 10px; /*label과 input창 거리*/
  }

  .LoginApp input {
    width: 200px;
    padding: 15px; /*입력창 내부 크기*/
    margin: 15px; /*입력창 끼리의 거리*/
  }
  
  .LoginBtn button {
    margin: 10px;  /*버튼 끼리의 거리*/
    padding: 10px; /*버튼의 크기*/
    font-size: 20px;
    background-color: gray;
  }

  /*슬라이드리스트*/

  .SliderList {
    display: flex;
    flex-direction: row;
  }

  /*이미지*/

  #img {
    width: 30px;
    height: 40px;
  }

  /*AppSongMainShow*/

  .AppSongMainPlayer {
    display: flex;
  }

  /*AppSOngPlayList*/

  .songPlayer {
    display: flex;
    flex-direction: column; /*세로*/
    background-color: rgb(226, 235, 243);
    width: 400px;
    padding: 10px;
    margin: 10px;
    height: 100px;
    border: solid 2px lightblue;
  }

  .songMainTitle {
    display: flex;
    align-items: center;
  }
  
  .songMainTitle img {
    margin-left: 10px;
  }

  .Title {
    font-family: serif;
    color: black;
    margin: 15px;
  }


  .songTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
